
.gallery-wrapper{
  height:80vh;
  width: 100%;
  margin-bottom: 3em;
}

.slider-cont{
  position: relative;
  transition: 0.3s ease-in-out height,0.3s ease-in-out width;
  width:100%;
  height:80vh;
  cursor: zoom-in;
}

.slider-cont::before{
  content: "";
  display: block;
  visibility: hidden;
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  background: rgba(0,0,0,0.0);
  animation: 0.4s ease-in-out minimizeAnimationBg;
}


@keyframes minimizeAnimationBg {
  0%{
    visibility: visible;
    background:rgba(0,0,0,0.9);
  }

  99%{
    background:rgba(0,0,0,0.0);
  }

  100%{
    visibility: hidden;
  }
}

.slider-cont.expand::before{
  visibility: visible;
  background: rgba(0,0,0,0.9);
  animation: 0.3s ease-in-out expandAnimation;
}

@keyframes expandAnimation {
  0%{
    background:rgba(0,0,0,0);
  }

  100%{
    background:rgba(0,0,0,0.9);
  }
}

.slider-cont.expand{
  position: fixed;
  width:100%;
  height:100vh;
  top:0;
  left:0;
  z-index: 100;
  cursor: zoom-out;
}

.slider-cont.expand figure{
  height:100vh;
}


@media (min-width:720px) {
  .slider-cont{
    max-height:640px;
  }

  .gallery-wrapper{
    max-height:640px;
  }

  .slider-cont.expand{
    max-height: none;
  }
}

.slider-cont figure{
  height:100%;
  width:100%;
  position: absolute;
  cursor: zoom-in;
  top:0;
  left:0;
  opacity: 1;
  transition: 0.3s ease-in-out opacity, 0.3s ease-in-out height;
}

.slider-cont.expand figure{
  cursor: zoom-out;
}


.slider-cont figure.invisibleSlide{
  opacity: 0;
}

.slider-cont figure.currentSlide{
  opacity: 1;
}


.slider-cont figure img{
  height:100%;
  width:auto;
  display:block;
  margin:0 auto;
}


.slider-cont img{
  float:left;
  border:none;
}

.slider-cont > button{
    position: absolute;
    z-index: 10;
    bottom:0;
    padding:1em;
    cursor: pointer;
    background: #222426;
    color:#FFF;
    outline: none;
    border:none;
    text-align: center;
    width:7.5em;
    font-size: 0.9em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    opacity: 1;
    transition: all 0.2s ease-in-out;
}

.slider-cont > button:hover{
    opacity:0.8;
}



.slider-cont button#prev::before{
  content: "";
  display: block;
  width:0;
  height:0;
  border: solid 0.5em transparent;
  border-right-color: #fff;
  float:left;
  transform: translate(-50%,15%);
}

.slider-cont button#next::before{
  content: "";
  display: block;
  width:0;
  height:0;
  border: solid 0.5em transparent;
  border-left-color: #fff;
  float:right;
  transform: translate(50%,15%);
}

.slider-cont button#next{
  right:0;
}

#slide-tracker{
  position: absolute;
  bottom:0;
  left:50%;
  transform:translate(-50%,0);
  display: flex;
  padding-bottom:0.8em;
  transition: 0.3s ease-in-out all;
}

#slide-tracker button{
  width:1.25em;
  height:1.25em;
  cursor:pointer;
  border-radius: 50%;
  margin:0.4em;
  box-sizing: border-box;
  outline:none;
  border:solid 0.2em rgba(0,0,0,0.8);
  background: rgba(0,0,0,0.0);
  transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
}

#slide-tracker button.selected{
  background: rgba(0,0,0,0.8);
  border:solid 3px rgba(0,0,0,0.0);
}
